* {
  margin: 0px;
}

body {
  /* margin: 10px 20px 30px; */
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

li {
  color: rgba(77, 19, 160, 1);
  font-size: 20px;
}

h1 {
  font-family: monospace, arial, helvetica;
  background-color: brown;
  font-size: 30px;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
  text-shadow: -1px 1px 1px blue;
  box-shadow: 3px 3px 2px black;
  border: 1px solid black;
  margin-bottom: 10px;
}

h2 {
  font-family: "Over the Rainbow", cursive;
  font-weight: 400;
  font-style: normal;
}

span {
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration-style: wavy;
}

p {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 50%;
  padding: 10px 20px;
  margin: 0 auto;
}

.p-green {
  color: green;
}

.with-border {
  border: 2px dashed blue;
  border-radius: 5px;
}

#img-circle {
  border-radius: 50%;
}

button {
  /* display: block; */
  margin-left: 50px;
}

ul, ol {
  list-style: none;
}

.list-box {
  width: 100%;
  display: inline-block;
  border: 1px solid red;
}

.lists {
  width: 49%;
  display: inline-block;
}

.left {
  color: black
}

.right {
  border: 1px solid blue
}

form {
  border: 2px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px 0;
  outline: 0;
}

.teste {
  background-color: red;
}